{% block sidebar %}

<style>
        .card{
            box-shadow: 0 8px 24px gray;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header bg-secondary">About Me</h5>
    <div class="card-body bg-dark text-white">
        <p class="card-text"> This blog was designed to house my HUM 220 projects, as well as my reflection</p>
        <a href="/aboutme"
           class="btn btn-secondary">Click to learn more</a>
    </div>
</div>
</div>

{% endblock sidebar %}