<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<style>
.h {
  border-radius: 60px 60px 60px 60px;
  text-align: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  width: auto;
  background-color: white;
}
.bubble p {
  border-radius: 25px;
  text-align: left;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #c1aed4;
}


</style>

<html>
	<body>
		<div class = "h">
			<h1>My Thesis:</h1>
			<h2> Throughout this online journal, I will elaborate on how a short term career decision led to continuing my educational journey for the second time, how it has helped me with growing as a person, and dealing with anxiety over the future and my own abilities.</h2>
		</div>
		<div class = "bubble">
			<p> I've always been an indecisive person, especially pertaining to school. The directions that I want to take have varied a lot over the years from nursing in high school to surveying, now I think I have landed on computer science. When I am interested in a field of study, I do some research. Not only the knowledge needed, but the work environment and skills required too. The one thing that I have been firm on from a young age is how to treat people with dignity.</h>
			<p>I've also never had confidence in myself either, and mistakes could be hard to take. I have always enjoyed learning, but could never focus enough on one thing to really get competent. Now as I get older, the mistakes are taken as learning experiences too. A lot of introspection has made me realize that I do have the ability to learn more complicated topics, and hone a skillet that would be useful not only to myself but to others as well. There has always been an interest in computer science and the theory behind how it all works, I just never had the confidence to believe that I could work in that space. That was for the people much smarter than I am, or so I thought.
			<p>Most of the jobs that I've done have been pretty boring to me, and nothing ever gets me motivated to get up for work aside from the bills due. Starting after high school, I decided to apply to UNCW and it went great for two semesters. Through family loss and financial issues paired with severe mental health issues, drug abuse issues, and an unwillingness to reach out for help I went from the deans list to academic dismissal with a 1.8 GPA during one semester. I graduate from CFCC this semester, and the confidence it has instilled in me has been amazing. Learning to get help when I needed was instrumental in getting this far.
			<p>These times of trial in my life have also shaped me to be more resilient towards external forces. During my time away from school I worked in retail. Eventually I was set up for an hourly manager position that I knew would be a dead end in a company like Wal-Mart. Seeing the others absolutely hate their jobs, and the company slashing necessary positions across the board I decided to stay where I was until I found something else. Waiting tables isn't much more of a career to me personally, but it can be a more fulfilling one. During this time, I decided to return to school to learn something I truly wanted to do not just because I had to.
			<p>All of this came with the backdrop of my mother not being able to obtain a new job after the one of 18 years closed down. She has essential tremors, especially in her hands. She is someone who inspires me to push on when things get tough. Not only am I doing this for myself, but for her as well. 
			<p>I aim to work in Cybersecurity to help improve the online lives of millions of people, hopefully unnoticed. It is a career that can be overlooked if not for its intense growth right now. Malware analyst positions particularly interest me, as the detective work is a major part of companies defensive structures. I enjoy finding out how things work on a small scale, and dissecting malware is a good way to do that. I'm not sure if I’ll ever get there, but I can keep trying for the sake of trying. I still have immense doubts in my abilities, not only in the job market but also in life as an adult.
		</div>
	</body>
</html>
{%endblock%}